main {
      display: flex;
      justify-content: center;
}
main>.container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 135vh;
}
#header{
      width: 100%;
      height: 40vh;
      padding: 12px;
      border-radius: 20px;
      background-color: #FFCB00;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
#header *{
      margin: 0;
      color: white;
}
#header > h3{
      text-decoration: underline;
      margin-bottom: 10px;
}
#header > h5{
      font-size: 2em;
}
.container > h2{
      margin: 5px 0;
}
#lBendahara{
      width: 100%;
      margin: 10px 0;
      padding: 0 12px;
      height: 30vh;
      overflow-y: scroll;
}
.eBendahara{
      /* width: 100%; */
      padding: 6px 12px;
      margin: 13px 0;
      border-radius: 10px;

      background-color: #C4C4C438;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.eBendahara > .segment{
      display: flex;
      align-items: center;
}
.eBendahara > .segment > *{
      font-size: 0.9em;
      margin: 0 5px;
}
.eBendahara > .segment > h5{
      font-weight: lighter;
}
.eBendahara > .segment > a{
      padding: 8px 16px;
}
#nav{
      display: flex;
      justify-content: center;
}
#nav .btn{
      text-align: center;
      margin: 0 10px;
      width: 40%;
}