<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Bendahara | Buat Sistem</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/postsidebar.css" />
    <link rel="stylesheet" href="../css/createSystem.css" />
  </head>
  <body>
    <header>
      <div id="hamburger" onclick="show()">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
      </div>
    </header>
    <main>
      <div class="container">
        <div id="tag">
          <a href="./lBendahara.html">&laquo; Kembali ke daftar bendahara</a>
        </div>
        <div id="header">
          <div class="left">
            <h3>Buat sistem</h3>
            <h5>Mulailah ekosistem pengelolaanmu sendiri</h5>
          </div>
        </div>
        <form action="./lBendahara.html">
          <div class="inp">
            <label for="nama">Nama sistem</label>
            <input type="text" name="nama" id="nama" placeholder="Nama sistem"/>
          </div>
          <div class="split">
            <div class="left">
              <label for="nom">Nominal iuran</label>
              <input type="text" name="nom" id="nom" placeholder="Nama sistem"/>
            </div>
            <div class="right">
              <label for="periode">Periode pembayaran</label>
              <select name="periode" id="periode">
                <option value="0" selected disabled>Periode pembayaran</option>
              </select>
            </div>
          </div>
          <div class="inp">
            <label for="desc">Deskripsi</label>
            <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Buat sekarang &raquo;</button>
        </form>
      </div>
    </main>
    <div id="fog" class="fhide" onclick="show()"></div>
    <div id="sidebar" class="shide">
      <div class="menu">
        <a href="./dashboard.html">Dashboard</a>
        <a href="./lBendahara.html">List Sistem</a>
        <a href="./yourSystem.html">Sistem Buatanmu</a>
        <a href="./detailSaldo.html">Detail Saldo</a>
        <a href="./history.html">Riwayat</a>
        <hr width="200" />
        <a href="./plan.html">Plan</a>
        <a href="#">About Us</a>
      </div>
      <div class="account">
        <div class="profile">
          <div class="avatar"></div>
          <div class="data">
            <div class="name">Bima Pangestu</div>
            <div class="status status-premium">Premium</div>
          </div>
        </div>
        <a href="./login.html" class="btn btn-danger">Logout</a>
      </div>
    </div>
    <script src="../js/script.js"></script>
  </body>
</html>
