<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Bendahara | Plan</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/postsidebar.css" />
    <link rel="stylesheet" href="../css/plan.css" />
  </head>
  <body>
    <header>
      <div id="hamburger" onclick="show()">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
      </div>
    </header>
    <main>
      <div id="normal" class="card">
        <div class="image">
          <img src="../assets/regular.png" />
        </div>
        <h2>Reguler</h2>
        <p>Nikmati fitur-fitur menarik tanpa mengeluarkan uang sepeserpun.</p>
        <a href="./dashboard.html" class="btn btn-primary">Coba gratis</a>
      </div>
      <div id="premium" class="card">
        <div class="image">
          <img src="../assets/premium.png" />
        </div>
        <h2>Premium</h2>
        <p>
          Dapatkan fitur-fitur premium yang akan mempermudah pekerjaan
          profesionalmu.
        </p>
        <a href="./dashboard.html" class="btn btn-primary">Naik level yuk</a>
      </div>
    </main>
    <div id="fog" class="fhide" onclick="show()"></div>
    <div id="sidebar" class="shide">
      <div class="menu">
        <a href="./dashboard.html">Dashboard</a>
        <a href="./lBendahara.html">List Sistem</a>
        <a href="#">Sistem Buatanmu</a>
        <a href="./detailSaldo.html">Detail Saldo</a>
        <a href="#">Riwayat</a>
        <hr width="200" />
        <a href="./plan.html">Plan</a>
        <a href="#">About Us</a>
      </div>
      <div class="account">
        <div class="profile">
          <div class="avatar"></div>
          <div class="data">
            <div class="name">Bima Pangestu</div>
            <div class="status status-premium">Premium</div>
          </div>
        </div>
        <a href="./login.html" class="btn btn-danger">Logout</a>
      </div>
    </div>
    <script src="../js/script.js"></script>
  </body>
</html>
